.center-v{
    display: flex !important;
    align-items: center !important;
}

a:hover{
    color: rgb(83, 83, 243) !important;
    cursor: pointer;
}

.btn{
    color: white !important;
    width: 100% !important;
}

.container>input{
    margin-top: 2%;
}

.container>button{
    margin-top: 2%;
}


